.text-box{
  font-size: 12px;
  color: #919191;
  text-align: left;
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  font: normal 1em/1.6em Georgia,Cambria,"Times New Roman",Times,serif;
  margin: 0;
  display: block;
  text-align: -webkit-match-parent;
  list-style: none;
  margin-top: 20px;
  padding: 0px 40px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  border: inset;
  background: transparent;
  box-shadow: none;
  line-height: 1.4;
}

.edx-button{
  display: block;
  border: 1px solid #2d81ad;
  border-radius: 3px;
  padding: 0 15px;
  height: 35px;
  color: #fff;
  text-shadow: none;
  font-size: 13px;
  line-height: 35px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset,0 1px 1px rgba(0,0,0,0.15);
  float: left;
  margin-top: 8px;
  word-wrap: break-word;
  font: normal 1em/1em "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}

.Post{
  margin-top:-10px;
  margin-right: auto;
  background-color: #6dccf1;
  background-image: linear-gradient(to bottom,#6dccf1,#38a8e5);
  margin: 10px;
}

.Clear{
  margin-top:-10px;
  margin-right: auto;
  background-color: #B22222;
  background-image: linear-gradient(to bottom,#B22222,#8B0000);
  margin: 10px;
}

.reply{
  margin-left: 50px;
}

.main_heading{
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.2;
  text-align: left;
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  color: #3c3c3c;
  font: normal 2em/1.4em "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  margin: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0em;
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.text-box{
  height: 125px;
  padding: 10px;
  transition: all 0.2s linear 0s;
  box-sizing: border-box;
  margin-top: 0;
  border: 1px solid #aaa;
  border-radius: 3px 3px 0 0;
  width: 35%;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
  font-size: 13px;
  font-family: 'Monaco', monospace;
  line-height: 1.6;
  font-style: normal;
  font: normal 1em "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  resize: vertical;
  margin: 0;
  color: #222;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  flex-direction: column;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-writing-mode: horizontal-tb;
  display: list-item;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 15px;
  display: list-item;
  margin-top: 20px;
  padding: 0px 10px;
}

.comment-box{

}